.idea/
.ipynb_checkpoints/
checkpoints/*
checkpoints/ordered_checkpoints/*
my_examples/
results/*
test/
train/
train_sorted/

.directory
094295_HW2.pdf
google_drive_links.txt

.hw2_data.zip
test.tar
train.tar









